.RMCharactersList {
    flex-grow: 1;
    overflow-y: scroll;
}

.RMLoader {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 200px;
    object-fit: contain;
}

.RMCharactersListPager {
    position: relative;
    width: 200px;
    left: calc(100% - 220px); /* 250px is width + 20px of margin */
    margin: 15px 0;
}

.RMCharactersListPager input {
    width: 50px;
    text-align: center;

    border-radius: 5px;
}

.RMCharactersListPager button {
    border-radius: 5px;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--general-color);
    font-weight: bold;
}

.RMCharactersListPager button:disabled {
    opacity: 0.5;
}