.RMCharacterCard {
    position: relative;
    margin: 10px 0 40px 0;
}

.RMCharacterCard .row {
    width: 100%;
    margin-bottom: 10px;
}

.RMAvatar {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    object-fit: contain;
    margin-bottom: 25px;

    border-width: 1px;
    border-color: var(--general-color);
    border-style: solid;
    border-radius: 30%;
}

.RMInfoBox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    font-weight: 600;
    font-size: 12pt;
}

.RMInfoBox div, .RMInfoBox span {
    color: var(--general-color);
    
}

.RMInfoBox h2 {
    font-family: Schwifty;
}

.RMAvatarBox {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    font-weight: 600;
    font-size: 12pt;
    text-align: center;
}

.spacer {
    flex-grow: 1;
}

.separator {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    height: 1px;
    margin-top: 15px;

    background-color: var(--general-color);
}

.noBold {
    font-weight: normal;
}