.RMApp {
    width: 100vw;
    height: 100vh;

    --footer-height: 60px; /* customer variable used to set footer height */
    --general-color: rgb(20, 79, 90); /* custom variable used to keep same color across the whole site */
}
.RMApp::before { /* pseudo-element for the background image in order to set the opacity only for the image*/
    content: ''; /* to render the pseudo-element*/
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -999; /* keep this layer back, since it's a background */

    background-image: url("./img/rm-background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}

.RMBody {
    width: 100vw;
    height: calc(100vh - var(--footer-height));
}

.RMFooter {
    width: 100vw;
    height: var(--footer-height);
}
